

    <div class="topnav">
      <a  class="burger" (click)="toggleMenu()">
        <i class="bi bi-list"></i>
      </a>
      <div class="header" [class.active]="isMenuOpen ">
      <div class="logo-box" [routerLink]="['']" routerLinkActive="router-link-active" >
        <img class="logo" src="../../assets/image/logo.svg" alt="logo">
        
        
      </div>
      
      <div id="myLinks">
        <a  class="nav-item" routerLink="." routerLinkActive="active-link">მთავარი</a>
        <a class="nav-item" routerLink="." routerLinkActive="active-link">ანოტაციები</a>
        <a class="nav-item" routerLink="/doccategory" routerLinkActive="active-link" >ექიმები</a>
        <a class="nav-item"  routerLink="/contact" routerLinkActive="active-link">კონტაქტი</a>
      </div>
      <div class="auth-btn">
        <a class="auth" (click)="showLoginPopup()">ავტორიზაცია</a>
        <span class="slash">/</span>
        <a href="register">რეგისტრაცია</a>
      </div>
      </div>
      <div class="search-block" [class.active]="isMenuOpen ">
        <span class="box">
          
          <img src="../../assets/image/call-svgrepo-com (3) 1.png" alt="">
          <p>032 2 100 100</p>
        </span>
        <span class="box">
          <img src="../../assets/image/location-svgrepo-com (1) 2.png" alt="">
          <p>იაკობ ნიკოლაძე №10</p>
        </span>
        <div class="search-inp">
          <input class="s-inp" type="text" placeholder="მოძებნე ექიმი სახელით" (keyup.enter)="searchDoctors()" [(ngModel)]="first_name">
  
           <input class="s-inp" type="text" placeholder="მოძებნე სპეციალობით" (keyup.enter)="searchDoctors()"  [(ngModel)]="category">
  
        </div>
        <span class="logout">
          <p>{{ getUserData()?.category }}</p>
          <p (click)="logout()"><i class="bi bi-box-arrow-left"></i></p></span>
      </div>
   
      
    </div>
    
  
      
   
  


 