
    
<div class="container-header">
      <div class="logo-box" [routerLink]="['']" routerLinkActive="router-link-active" >
        <img class="logo" src="../../assets/image/logo.svg" alt="logo">
        
        <span class="logo-span">
          <p class="logo-txt">კლინიკა</p>
        </span>
      </div>
      
      <nav>
      <div  id="navbarNav">
        <ul id="nav-ul">
          <li class="nav-item">
            <a class="nav-link" routerLink=""  routerLinkActive="active-link"  >ექიმები</a>
          </li>
          <li class="nav-item" >
            
    
            <a class="nav-link" routerLink="." routerLinkActive="active-link">კლინიკები</a>
          </li>
          
          <li class="nav-item" >
            
    
            <a class="nav-link" routerLink="." routerLinkActive="active-link">ანოტაციები</a>
          </li>
          <li class="nav-item" >
            
    
            <a class="nav-link" routerLink="./add-cart" routerLinkActive="active-link">აქციები</a>
          </li>
          <li class="nav-item" >
            
            <a class="nav-link" routerLink="./add-cart" routerLinkActive="active-link">სერვისები</a>
          </li>
          <li class="nav-item" >
            
    
            <a class="nav-link" routerLink="./add-cart" routerLinkActive="active-link">მედიკამენტები</a>
          </li>
        
         
          <li class="nav-item">
            <a class="nav-link" routerLink="./contact" routerLinkActive="active-link">კონტაქტი</a>
          </li>
        </ul>
      </div>
      </nav>
      <div class="auth-btn">
        <a class="auth" (click)="showLoginPopup()" >ავტორიზაცია</a>
        <span>/</span>
        <a href="register" >რეგისტრაცია</a>
      
      </div>

     
    </div>

    <div class="search-block">
      <span class="box">
        
        <img src="../../assets/image/call-svgrepo-com (3) 1.png" alt="">
        <p>032 2 100 100</p>
      </span>
      <span class="box">
        <img src="../../assets/image/location-svgrepo-com (1) 2.png" alt="">
        <p>იაკობ ნიკოლაძე №10</p>
      </span>
      <div class="search-inp">
        <input class="s-inp" type="text" placeholder="მოძებნე ექიმი სახელით" >
        <input class="s-inp" type="text" placeholder="მოძებნე სპეციალობით"  >
      </div>
      <span class="ser-icon" (click)="getResult()" >
        <img class="ico" src="../../assets/image/ri_search-line.png" alt="">
        
      </span>
    </div>
    
  
      
   
  

