<div class="foot-cont">
    <div class="logo-box">
        <img class="logo" src="../../assets/image/logo.svg" alt="logo">
        
        <span class="logo-span">
          <p class="logo-txt">კლინიკა</p>
        </span>
      </div>
<div class="foot-box">
    <h6 class="foot-box-title">ინფორმაცია</h6>
    <a class="foot-a" href="#" target="_blank">ჩვენს შესახებ</a>
    <a class="foot-a" href="#" target="_blank">პარტნიორები</a>
    <a class="foot-a" href="#" target="_blank">ექიმებისთვის</a>
    <a class="foot-a" href="#" target="_blank">კლინიკებისთვის</a>
    <a class="foot-a" href="#" target="_blank">აფთიაქებისთვის</a>
</div>
<div class="foot-box">
    <h6 class="foot-box-title">პაციენტებისთვის</h6>
    <a class="foot-a" href="." target="_blank">მთავარი</a>
    <a class="foot-a" href="doccategory" target="_blank">ექიმები</a>
    <a class="foot-a" href="#" target="_blank">ანოტაციები</a>
    <a class="foot-a" href="contact" target="_blank">კონტაქტი</a>
</div>
<div class="foot-box">
    <h6 class="foot-box-title">კონტაქტი</h6>
    <p class="foot-p">სამუშაო დღეები : 
        ორშ - პარ</p>
    <p class="foot-p">სამუშაო დრო : 
        9:00 - 17:00</p>
  <p class="foot-p">იაკობ ნიკოლაძე №10</p>
  <p class="foot-p">032 2 100 100</p>
</div>
<div class="foot-box">
    <h6 class="foot-box-title">გამოგვყევით</h6>
    <a class="foot-a" href="facebook.com" target="_blank">Facebook</a>
    <a class="foot-a" href="instagram.com" target="_blank">Instagram</a>
    <a class="foot-a" href="youtube.com" target="_blank">Youtube</a>
    
</div>
</div>
