.cat-box{
    width: 250px;
    height: 800px;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
   border: 5cm;
    margin-left: 10px;
    font-size: 13px;
}
.loadmore{
    width: 102px;
    height: 17px;
    color: #18A4E1;
    font-size: 12px;
    border: none;
    cursor: pointer;
}