<div class="foot-box">
    
    <p class="foot-p">სამუშაო დღეები : 
        ორშ - პარ</p>
    <p class="foot-p">სამუშაო დრო : 
        9:00 - 17:00</p>
  <p class="foot-p">იაკობ ნიკოლაძე №10</p>
  <p class="foot-p">ტელ: 032 2 100 100</p>
</div>


<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d23838.12601330835!2d44.86174196696777!3d41.68240220147673!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sge!4v1651078399451!5m2!1sen!2sge" max-width="100%" width="1088" height="286"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>