.inp-style{
    width: 450px;
    height: 50px;
    border-radius: 25px;
}
.email-btn{
width: 150px;
height: 50px;
cursor: pointer;
border-radius: 25px;
background-color: rgb(149, 149, 240);
color: white;
font-size: 16px;
margin-left: 15px;
}
.email-box{
    width: 650px;
    display: flex;
    margin-bottom: 50px;
}